* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* #color palette */
:root {
  --block-1: #2b5eea;
  --block-2: #f0f0f0;
  --block-3: #1b1b1b;
  --block-4: #5e0009;
  --block-5: #460002;
  --block-6: #da1d88;
}
/* end #color palette */

/* Header */
.bg {
  background-color: var(--block-1);
  padding-top: 25px;
  padding-bottom: 25px;
}

.space1,
.space3 {
  width: 20%;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.space2 {
  width: 40%;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.space1 {
  padding-left: 10px;
}

.space3 {
  text-align: right;
  padding-right: 10px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bt-access {
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 35px;
  text-align: center;
  padding: 10px 15px 10px 15px;
  vertical-align: middle;
  border: none;
  font-weight: 500;
}
/* end Header */

/* Main */
/* First section */
.bg-1 {
  background-image: url(../assets/images/jumbo.png);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.rectangle {
  height: 350px;
  width: 60%;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 50px;
  padding-top: 20px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bt-1,
.bt-2 {
  border-radius: 35px;
  text-align: center;
  padding: 10px 15px 10px 15px;
  vertical-align: middle;
  border: none;
  font-weight: 500;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bt-2 {
  background-color: black;
  color: white;
}
/* end First section */

/* Second section */
.bg-2 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.rectangle2 {
  height: 500px;
  width: 40%;
}

.rectangle3 {
  height: 500px;
  width: 30%;
  vertical-align: middle;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.move-r {
  text-align: left;
  padding-left: 60px;
}
/* end Second section */

/* third section */
.flex-container1 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row-reverse;
}

.bg-3 {
  background-color: var(--block-2);
  padding-top: 50px;
  padding-bottom: 50px;
}

.rectangle4 {
  height: 500px;
  width: 40%;
}

.rectangle5 {
  height: 500px;
  width: 30%;
}

.move-l {
  text-align: left;
  padding-left: 10px;
  vertical-align: middle;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* end third section */

/* fourth section */
.bg-4 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.rectangle6 {
  padding-top: 60px;
  height: 500px;
  width: 40%;
}

.rectangle7 {
  height: 500px;
  width: 30%;
}

.move-r7 {
  text-align: left;
  padding-left: 60px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1.move-r7 {
  margin-top: 80px;
}
/* end fourth section */

/* fifth section */
.bg-5 {
  background-color: var(--block-2);
  padding-top: 50px;
  padding-bottom: 50px;
}

.rectangle8 {
  height: 1000px;
  width: 70%;
  text-align: center;
  vertical-align: middle;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-5{
    width: 100%;
}

.stars{
    width: 480px;
}

h2{
    text-align: center;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bolder;
    vertical-align: middle;
}

.bt-3{
  border-radius: 35px;
  padding: 10px 15px 10px 15px;
  border: none;
  font-weight: 500;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--block-6);
  color: white;
}
/* end fifth section */
/* end Main */

/* footer */
footer {
  background-color: var(--block-5);
  height: 100%;
}

/* footer top  */
.first-d,
.second-d {
  height: 500px;
  margin-top: 30px;
}

.first-d {
  width: 30%;
  background-color: var(--block-1);
}

.second-d {
  width: 10%;
  background-color: var(--block-6);
  border: 2px dashed yellow;
}
/* end footer top  */

/* footer bottom  */
.color-w {
  color: white;
  margin-top: 40px;
  margin-bottom: 25px;
}

.bg-fb {
  background-color: var(--block-4);
  height: 70px;
  width: 70%;
}

.flex-container2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo-f {
  background-color: white;
  border: 1px dashed black;
  height: 30px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-weight: 500;
}

.bottone-f {
  border: 1px dashed black;
  height: 30px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
}
/* end footer bottom */
/* end footer */
